:root {
  --accent-color-dark: #F368A0;
  --accent-color-light: #FFADB8;
  --primary-color: #000;
  --secondary-color: #fff;
  --black-modified: #141414;
  --accent-font: 'Roboto Mono', monospace;
  --body-font: 
}

body {
  background-color: var(--secondary-color);
  font-family: var(--accent-font);
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}



/* -------- Dark Mode Theme and button --------- */
#dark-mode-button-space {
  display: flex;
  justify-content: end;
  height: 25px;
}

#dark-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: solid 2px var(--accent-color-dark);
  width: 100px;
  border-radius: 8px;
}

#dark-mode-button:hover {
  background-color: var(--accent-color-dark);
  color: var(--secondary-color);
  cursor: pointer;
}

#dark-mode-button:active {
  transform: translateY(4px);
}

/* --------- Dark Mode Theme Class ---------- */
.dark-mode {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.dark-mode a {
  color: #fff;
}

.dark-mode a:link {
  color: #fff;
}

.dark-mode a:visited {
  color: #fff; 
}

.dark-mode a:hover {
  color: var(--accent-color-dark); 
}

.dark-mode button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: solid 2px var(--accent-color-dark);
}


/* Links */
a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--accent-color-dark);
  cursor: pointer;
}

.nav-bar {
  height: 25vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > ul {
  font-family: var(--accent-font);
  list-style: none;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.name-title {
  color: var(--accent-color-dark);
  font-size: 42px;
}

h1{
  display: flex;
  justify-content: center;
  margin: 25px;
}


h2, h3, h4, h5, p {
  margin: 50px;
  /* display: flex;
  justify-content: center; */
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

p {
  line-height: 200%;
}

/* h4 {
  margin: 50px;
  display: flex;
  justify-content: center;
}

h5 {
  margin: 50px;
  display: flex;
  justify-content: center;
}


p {
  display: flex;
  justify-content: center;
  margin: 25px;
} */

.line-break {
  margin: 0 auto;
  width: 80vw;
  /* background-color: var(--accent-color-dark); */
  border: 0.01px solid var(--accent-color-dark);
}







/* Contact Page */

.contact-header {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.contact-text {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  height: 5vh;
  position: sticky;
  top: 100vh;
  background: var(--primary-color);
  font-size: 12px;
}


footer a:visited {
  color: #fff;
  text-decoration: none;
}

footer a:link {
  color: #fff;
}

footer > ul {
  list-style: none;
  color: #fff;
  width: 25vw;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}